<ng-container *ngIf="isLoading; else ContentTemplate">

  {{ isLoading ? 'asd' : '123' }}
  <ion-spinner></ion-spinner>
</ng-container>

<ng-template #ContentTemplate>
  <ion-list>
    <ion-list-header>
      Click for start attack
    </ion-list-header>
    <app-start-attack></app-start-attack>
    <ion-list-header>
      Form to add new link to list
    </ion-list-header>
    <app-form></app-form>
    <ion-list-header>
      List of urls to attack
    </ion-list-header>
    <ion-item *ngFor="let url of urlList?.list; let index = index" button>
      <ion-note slot="start">
        {{ index+1 }}
      </ion-note>
      <ion-label (click)="copyToClipboard(url)">
        {{ url }}
      </ion-label>
      <ion-note slot="end">0</ion-note>
      <ion-note slot="end">0</ion-note>
      <ion-button slot="end" (click)="deleteItemFromList(url)">
        Delete
      </ion-button>
    </ion-item>
  </ion-list>
</ng-template>
